<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #otp{ background-color: white; color: gray; }
    </style>
  </head>
  <body>
    <h1>Dear {{name}}!</h1>
    <p>
      Welcome to FastMed, your centralized hospital management system! We're
      pleased to confirm that you have successfully logged into your FastMed
      account.

      <br />
      <br />
      This successful login allows you to access and manage various aspects of
      our hospital management system, including:
      <br />
      <ul>
        <li>Appointment Scheduling</li>
        <li>View nearby doctors</li>
        <li>Get Directions directly from the Google Maps.</li>
        <li>Chat with out bot for assistance.</li>
      </ul>

      <br />
      For security reasons, please ensure that you always log out of your
      account when you have finished using FastMed, especially if you are using
      a shared computer.

      <br />
      <br />
      Thank you for being a part of the FastMed community.
      <br />
      <br />
      Sincerely,
      <br />
      The FastMed Team
    </p>
  </body>
</html>